.header {
  text-align: center;
}

.text {
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 20px;
  word-break: break-word;
  overflow: visible;
}

.result {
  color: var(--blue-color);
  margin-top: 10px;
  display: inline-block;
}