.input {
  font-size: 25px;
  border: none;
  border-bottom: 2px dotted black;
  padding: 10px;
  flex-basis: 90%;
  min-width: 0;

  &:focus {
    outline: none;
  }
}

.form {
  max-width: 500px;
  width: 80%;
  margin: auto;
  display: flex;
}

.button {
  flex-basis: 10%;
  position: relative;
  height: 40px;
  top: 8px;
  border-radius: 3px;
  border: none;
  background: var(--blue-color);
  padding: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.5s ease;

  &:hover {
    background: black;
  }
}